<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" type="image/png" href="/images/favicon.ico">
  </head>
  <body>
    <h1><%= title %></h1>
    <div>
      <div><%= content %></div>
    </div>
    <table>
      <tr>
        <td>
          <a href="/user/input">ユーザ画面へ</a>
        </td>
      </tr>
    </table>
  </body>
</html>
